<% title "About Us" %>

<div>
    <h3>About Us</h3>
    <p>
        It was always easy for me to know when my wipers blades needed replacing.  They squeaked, chattered and left streaks on my windshield.  
        However, remembering to replace the blades never happened on a bright sunny day on my way to the store.  
        It was only during a rainstorm that I remembered that my wiper blades were worn out. 
    </p>
    <p>
        I’ve always purchased wiper blades from an automotive parts shop, big box store, and online in the past.  However, this always turned into a frustrating experience.  
        If I was lucky enough to find the little book at the automotive or big box store that told you what size wipers to buy, I had to cross my fingers and hoped they had the sizes I needed.  
        Shopping online wasn’t much better.  The selection was better, but I was overwhelmed with all the options.
    </p>
    <p>
        Eventually I would find what I needed and got them installed.  
        Before I knew it 6 to 9 months had passed, and I found myself needing new wipers again which meant repeating the same, painful process.
    </p>
    <p>
        I decided there must be a better way to make finding and purchasing wiper blades more convenient.  
        Therefore, I came up with WipersToYou.com.  The web site asks you three simple questions:
    </p>
    <div class="col-12">
        <ol class="text-left">
            <li>What type of car do you have?</li>
            <li>What type of wiper blade would you like?</li>
            <li>How often would you like to receive new wiper blades?</li>
        </ol>
    </div>
    <p>
        We store this information and then automatically send a new set of wiper blades directly to your address at the time period you specify. 
        This service ensures that you will have a new set of wipers for your car just as your old ones are wearing out.  How could it get any easier!
    </p>
    <h5 class="text-right">Jeff - Founder</h5>
</div>