<% title "FAQ" %>
<% description "Learn more about why and how often wiper blades need to be changed and how we can help" %>

<h2>FAQ</h2>
<div class="text-left">
    <h5>Why purchase from WipersToYou.com?</h5>
    <p>
        We take the guesswork and frustration out of buying the right wipers for your car.  
        Enter your vehicle information with us and the correct wipers will automatically be shipped for free to your door at the time period you select.  
        This ensures you will always have a functioning set of wipers on your car protecting you and your loved ones.
    </p>
    <h5>How Often should I change my wiper blades?</h5>
    <p>
        The simplest answer is to replace the blades when they no clean windshield well.
    </p>
    <p>
        The National Highway Traffic Safety Administration recommends changing your wiper blades every 6 to 12 months.
    </p>
    <h5>Why do you only sell PIAA Wiper Blades?</h5>
    <p>
        PIAA wiper blades are consistenly ranked as one of the best performing wiper blades on the market.
    </p>
    <h5>Do you ship wiper blades or just the inserts?</h5>
    <p>
        We only ship the full wiper blade assembly so that replacing your wiper blades is quick and easy.  Beware of subscription services that ship just the wiper blade inserts and not the entire assembly.
    </p>
    <h5>What is the difference between wiper blades and wiper inserts?</h5>
    <p>
        Wiper inserts are the rubber portion of the wiper blade.  Replacing the insert can be a frustrating task whose grief simply isn't worth the money savings.  
        That is why we only ship the full wiper blade assembly so that replacing your wiper blades is quick and easy.
    </p>
    <h5>Where do you ship?</h5>
    <p>
        We ship anywhere in the United States.
    </p>
    <h5>How long will it take my order to arrive?</h5>
    <p>
        We try to ship all orders the next business day. Your package should arrive within 3-5 business days. 
    </p>
    <h5>How do I keep my wipers in good, working order?</h5>
    <p>
        If the wipers are in decent physical condition but not cleaning the windshield effectively, clean them.  
        Simply put windshield washer fluid or glass cleaner on a damp sponge or rag and wipe debris off the rubber wiper blades and the windshield where the wiper rests to make sure you have good, 
        clean contact between the rubber and the glass.
    </p>
    <h5>How do I change my vehicle, frequency, and quality of the wipers choices for my subscriptions?</h5>
    <p>
        Log into your account.  Once you are logged in you are automatically taken to your Account.  The Account page lists your wiper subscriptions on the right-hand side.  Find the wiper subscription you want to edit and click the Edit Subscription button.
    </p>
    <h5>Can I ship wipers to different addresses?</h5>
    <p>
        We currently don’t have a way to ship multiple wiper subscriptions to different addresses.  If you want to ship one set of wipers to one address and another set to another address, we ask that you create a separate account for the other address.  
    </p>
    <h5>Can I add more than 3 wiper subscription to my account?</h5>
    <p>
        Sorry.  Currently, we only support a maximum of 3 subscriptions per account. 
    </p>
    <h5>How do I change my vehicle, frequency, and quality of the wipers choices for my subscriptions?</h5>
    <p>
        Log into your account.  Once you are logged in you are automatically taken to your Account.  The Account page lists your wiper subscriptions on the right-hand side.  Find the wiper subscription you want to edit and click the Edit Subscription button.
    </p>
    <h5>How do I cancel my subscription?</h5>
    <p>
		Log into your account.  Once you are logged in you are automatically taken to your Account.  The Account page lists your wiper subscriptions on the right-hand side.  Find the wiper subscription you want to cancel and click the Cancel button.    </p>
    <h5>What is the Cancellation Policy</h5>
    <p>
        You are under no obligation and can cancel your subscription at any time.  
        You will receive an email about 2 weeks before you next order is scheduled to ship so that you have plenty of time to modify or cancel your subscription before the order is placed.
    </p>
	<p></p>
    <%= link_to 'Create A Subscription!', new_checkout_path, class: "btn btn-primary btn-lg"%>
</div>