<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to Wipers to You!</h1>
</div>
<div class="home-page">
  <div class="row">
    <div class="col-sm-5 offset-1 mr-2 text-center border border-secondary">
      <div class="m-3">  
        <h1>Returning User</h1>
        <%= render 'sessions/new' %>
      </div>
    </div>
    <div class="col-sm-5 ml-2 text-center border border-secondary">
      <div class="m-3">
        <h1>New User</h1>
        <p>Join our subscription service and shipping on
          your first order is free!
        </p>
        <a class="btn btn-primary" href="<%=signup_path%>" role="button">Get Started!</a>
      </div>
    </div>
  </div>
</div>