<% description 'Premium wiper blade subscription service.  
Let us help you select the best quality wiper blades for your car and then automatically ship them to your door just when your old wipers are wearing out.  First order ships free!' %>
<% title "Windshield Wiper Subscription Service" %>
<% set_meta_tags index: true %>

<div class="row">
    <div class="col-12 col-md-6">
        <div class="text-center">
            <h2>Never forget to change your wipers with our premium windshield wiper subscription service.</h2>
        </div>
        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            <strong>Warning:  </strong>We are still in alpha testing.  Feel free to look around, but subscriptions cannot be created.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 p-3">
                <%= link_to 'How It Works', '/overview', class: "btn btn-primary btn-lg w-100"%>
            </div> 
            <div class="col-12 col-md-6 p-3">
                <%= link_to 'Get Started!', new_checkout_path, class: "btn btn-primary btn-lg w-100"%>
            </div>
        </div>
        <div class="text-center mt-3">
            <h3 class="mt-3 mb-3">Shipping is always free!</h3>
            <h5>Cancel anytime. No fees, obligations, or committments.</h5>
        </div>
    </div>
    <div class="d-none d-md-block col-6 image-div">
        <%= image_tag("HomepagePicture-Wiper.jpg") %>
        <p class="text-center mt-1"><b>Get Premium Quality Windshield Wipers Delivered Right To Your Doorstep.</b></p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-md-4 text-center">
        <div class="pillboxes d-flex justify-content-center mt-4 mt-md-5">
            <p class="m-auto">Bad wiper blades are the 3rd biggest mechanical reason for car accidents.</p>
        </div>
    </div>
    <div class="col-12 col-md-4 text-center">
        <div class="pillboxes d-flex justify-content-center mt-4 mt-md-5">
            <p class="m-auto">The National Highway Safety Administration recommends changing your wiper blades every 6 to 12 months.</p>
        </div>
    </div>
    <div class="col-12 col-md-4 col-md-4 text-center">
        <div class="pillboxes d-flex justify-content-center mt-4 mt-md-5">
            <p class="m-auto">23% of all car crashes in the US are weather related.</p>
        </div>
    </div>
</div>