<% provide(:title, "Overview") %>
<h2>Thank you for your question.  We will get back to you as soon as possible</h2>

<div class="text-center">
    <%= link_to 'Continue to Homepage', '/', class: "btn btn-primary btn-lg mt-4"%>
</div>