<% provide(:title, "Overview") %>
<h2>How It Works...</h2>
<div class="row mt-5">
  <div class="col-12 col-md-6 col-lg-3 text-center">
    <i class="fa fa-car fa-5x mb-2"></i>
    <h5>Enter Vehicle Information</h5>
    <p>Enter information about your car.  We'll find the right sized wipers for you.</p>
  </div>
  <div class="col-12 col-md-6 col-lg-3 text-center">
    <i class="fa fa-calendar-check fa-5x mb-2"></i>
    <h5>Enter Frequency</h5>
    <p>Select how often you would like a new set of wipers sent to you.</p>
  </div>
  <div class="col-12 col-md-6 col-lg-3 text-center">
    <i class="fa fa-check-square fa-5x mb-2"></i>
    <h5>Select Wiper Type</h5>
    <p>Determine the type of wiper that best fits your needs.</p>
  </div>
  <div class="col-12 col-md-6 col-lg-3 text-center">
    <i class="fa fa-truck fa-5x mb-2"></i>
    <h5>Automate Delivery</h5>
    <p>The correct size and type of wiper is shipped to you on your schedule.</p>
  </div>
</div>
<div class="row mb-3">
  <div class="col-12 col-md-6 offset-md-3 text-center">
    <h2>We Make It Easy.</h2>
	<p>Your wipers come pre-installed with the correct connector for your vehicle.  No need to mess with adaptors! <p>
    <%= link_to 'Let\'s Get Started', new_checkout_path, class: "btn btn-primary btn-lg mt-3 mb-3" %>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6 offset-md-3 text-center">
		<p>Any remember...<p>
		<h2>Shipping is Always Free!</h2>
  </div>
</div>
<div class="row justify-content-center mt-3 mt-md-5">
  <div class="col-12 col-md-4 mt-4 mt-md-0 text-center">
    <div class="pillboxes d-flex justify-content-center">
      <p class="m-auto">No need to remember to replace your wipers.</p>
    </div>
  </div>
  <div class="col-12 col-md-4 mt-4 mt-md-0 text-center">
    <div class="pillboxes d-flex justify-content-center">
      <p class="m-auto">No need to keep looking up the right size wipers for your car.</p>
    </div>
  </div>
  <div class="col-12 col-md-4 mt-4 mt-md-0 text-center">
    <div class="pillboxes d-flex justify-content-center">
      <p class="m-auto">No need to get caught in the rain or snow with streaky wipers.</p>
    </div>
  </div>
</div>
