<h3>We’ve successfully canceled your subscription and discontinued future shipments.  We will miss you!</h3>

<h4>Subscription Cancelled:</h4>
<p>&nbsp&nbsp&nbsp&nbsp<b>Vehicle:&nbsp</b><%= get_vehicle_name(@order.vehicle_id) %></p>
<p>&nbsp&nbsp&nbsp&nbsp<b>Quality:&nbsp</b><%= get_quality_string(@order.quality) %></p>
<p>&nbsp&nbsp&nbsp&nbsp<b>Frequency:&nbsp</b><%= get_frequency_string(@order.frequency) %></p>

<p>We’d love to hear about your experiences and how you think we can improve WipersToYou.com for other members by emailing us at <a href="mailto:support@wiperstoyou.com">support@wiperstoyou.com</a>.</p>
<p>If you decide you would like to resume your membership in the future you can restart your subscription at any time using your existing username and password.  </p>
<p>We hope to see you again in the future.</p>
<h4>Regards,</h4>
<h4>WipersToYou.com</h4>