<h3>We’ve successfully canceled your subscription and discontinued future shipments.  We will miss you!</h3>
<h3>Subscription Cancelled:</h3>
<b><%= get_vehicle_name(@vehicle_id) %></b>
<h4>We’d love to hear about your experiences and how you think we can improve WiperToYou.com for other members.  </h4>
<h4>If you decide you would like to resume your membership in the future you can restart your subscription at any time using your existing username and password.  </h4>
<h4>We hope to see you again in the future.</h4>
<h5>Regards,</h5>
<h5>WipersToYou.com</h5>