<% provide(:title, @user.name) %>

<noscript>
    <meta http-equiv="refresh" content="1;url=/javascript-warning">
</noscript>

<div class="row text-center">
  <div class="col-md-4">
    <h2><%= @user.name %></h2>
    <a class="btn btn-primary w-75 mb-2" href="<%=new_vehicle_path%>" role="button">Create new subscription</a>
    <a class="btn btn-primary w-75 mb-4" href="<%= edit_user_path %>" role="button">Edit Profile</a>
  </div>
  <div class="col-12 col-md-8">
    <div class="text-center">
      <h3>Current Subscriptions</h3>
      <% if @user.order_options.any? %>
        <%= render partial: "order_option", collection: (@order_options) %>
      <% else %>
        <h4>You currently do not have any subscriptions</h4>
      <% end %>
    </div>
  </div>
</div>
