<h1>Refund Policy</h1>
<p>
    We’re here to ensure your satisfaction! If you are unsatisfied with the Products for any reason, we will refund your purchase price, 
    less the original shipping and handling costs, provided you request a refund within 30 days of your first delivery. A valid proof of purchase will be required.
</p>
<p>
    Refund requests must be made directly to us by contacting us <%= link_to "here", new_return_path, style: 'text-decoration:underline;' %> within 30 days of your first delivery. 
    Following our receipt of your refund request, we will review the request. 
    If it is approved, we will credit the amount paid for the product back to the payment card used to make the original purchase. 
    We cannot control when or how a specific payment card company processes a chargeback transaction. 
    You are responsible for contacting your payment card company if you have questions about the status of the chargeback.
</p>
<p>
    After 30 days from your first delivery, we are unable to issue refunds for orders we have already processed.
</p>
<p>
    Except as stated above, all purchases are final, and all payments once completed are non-refundable.
</p>