<% title "Refund Policy" %>

<h1>Refund Policy</h1>
<p>
    We’re here to ensure your satisfaction! If you are unsatisfied with your wipers <u>for any reason</u>, we will refund your entire purchase price within 30 days of your delivery.  No questions asked.
</p>
<p>
    Refund requests must be made directly to us by contacting us <%= link_to "here", new_return_path, style: 'text-decoration:underline;' %> within 30 days of your delivery. 
    We will credit the amount paid for the product back to the payment card used to make the original purchase. 
    After 30 days from your delivery, we'll assume you love your new wipers and will be unable to issue refunds.
</p>
<p>
    We cannot control when or how a specific payment card company processes a chargeback transaction. 
    You are responsible for contacting your payment card company if you have questions about the status of the chargeback.
</p>
<p>
    Except as stated above, all purchases are final, and all payments once completed are non-refundable.
</p>