<div class="col-12 mb-3 text-center">
    <div class="border border-secondary rounded p-2  ml-2 mr-2 ">
        <h4>Vehicle</h4>
        <p><%= get_vehicle_name(order_option.vehicle_id) %></p>
        <h4>Quality</h4>
        <p><%= get_quality_string(order_option.quality) %></p>
        <h4>Frequency</h4>
        <p><%= get_frequency_string(order_option.frequency) %></p>
    </div>
</div>
