<div class="col-12 mb-3">
    <div class="border border-secondary rounded p-2  ml-2 mr-2 ">
        <h5>Vehicle:</h5>
        <p><%= get_vehicle_name(order_option.vehicle_id) %></p>
        <h5>Wiper Type:</h5>
        <p><%= get_wipertype_string(order_option.wipertype) %></p>
        <h5>Frequency:</h5>
        <p><%= get_frequency_string(order_option.frequency) %></p>
    </div>
</div>
