<% title "Welcome" %>
<% set_meta_tags noindex: true %>

<h2>Thank you for your order!</h2>
<br></br>
<h4>Please check your email to <b>activate your account</b> and for an order confirmation.</h4>
<br></br>
<div class="row col-12">
    <%= link_to "Continue to Login", login_path, class: "btn btn-success btn-lg ml-auto mr-auto" %>
</div>