<h1>Select Vehicle</h1>
<%= f.label :Make %>
<%= select_tag(:city_id, raw('<option value="1">Lisbon</option><option value="2">Madrid</option><option value="3">Berlin</option>')) %>
<%= f.label :Model %>
<%= f.label :Year %>