<header class="mb-3">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand h1" id="logo" href="<%=root_path%>">Wipers to You</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% if logged_in? %>
          <li class="nav-item active">
            <%= link_to  "Account", user_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/faq">FAQ</a>
          </li>
          <li class="nav-item active">
            <%= link_to "Log out", logout_path, method: "delete", class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to "Log in", login_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/overview">Overview</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/faq">FAQ</a>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>